extends layout

block content
  form(method='POST')
    div.form-group
      label(for='name')
        b Name
      input.form-control#email(type='text', placeholder='Name', name='name', required='required')
    div.form-group
      label(for='psw')
        b Passwort
      input.form-control#psw(type='password', placeholder='Passwort', name='psw', required='required')
    div.form-check
      input.form-check-input#isadmin(type='checkbox', name='isadmin')
      label.form-check-label(for='isadmin')
        b Ist Admin
    button.btn.btn-primary.float-right(type='submit') Speichern
    a.btn.btn-secundary.float-right.mr-1(href="/user") Zurück